@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 33 24% 89%; /* #EBE2D9 */
    --foreground: 157 19% 23%; /* #2F453A */
    --card: 33 24% 89%; /* #EBE2D9 */
    --card-foreground: 157 19% 23%; /* #2F453A */
    --popover: 33 24% 89%; /* #EBE2D9 */
    --popover-foreground: 157 19% 23%; /* #2F453A */
    --primary: 157 19% 23%; /* #2F453A */
    --primary-foreground: 33 24% 89%; /* #EBE2D9 */
    --secondary: 156 24% 78%; /* #BBD2C6 */
    --secondary-foreground: 157 19% 23%; /* #2F453A */
    --muted: 156 24% 78%; /* #BBD2C6 */
    --muted-foreground: 157 13% 53%; /* #7EA299 */
    --accent: 156 24% 78%; /* #BBD2C6 */
    --accent-foreground: 157 19% 23%; /* #2F453A */
    --destructive: 196 37% 55%; /* #5AACBD */
    --destructive-foreground: 33 24% 89%; /* #EBE2D9 */
    --border: 156 24% 78%; /* #BBD2C6 */
    --input: 156 24% 78%; /* #BBD2C6 */
    --ring: 157 19% 23%; /* #2F453A */
    --radius: 0.5rem;
    --sidebar-background: 33 24% 89%; /* #EBE2D9 */
    --sidebar-foreground: 157 19% 23%; /* #2F453A */
    --sidebar-primary: 157 19% 23%; /* #2F453A */
    --sidebar-primary-foreground: 33 24% 89%; /* #EBE2D9 */
    --sidebar-accent: 156 24% 78%; /* #BBD2C6 */
    --sidebar-accent-foreground: 157 19% 23%; /* #2F453A */
    --sidebar-border: 156 24% 78%; /* #BBD2C6 */
    --sidebar-ring: 196 37% 55%; /* #5AACBD */
  }

  .dark {
    --background: 157 19% 23%; /* #2F453A */
    --foreground: 33 24% 89%; /* #EBE2D9 */
    --card: 157 19% 23%; /* #2F453A */
    --card-foreground: 33 24% 89%; /* #EBE2D9 */
    --popover: 157 19% 23%; /* #2F453A */
    --popover-foreground: 33 24% 89%; /* #EBE2D9 */
    --primary: 33 24% 89%; /* #EBE2D9 */
    --primary-foreground: 157 19% 23%; /* #2F453A */
    --secondary: 157 13% 53%; /* #7EA299 */
    --secondary-foreground: 33 24% 89%; /* #EBE2D9 */
    --muted: 157 13% 53%; /* #7EA299 */
    --muted-foreground: 156 24% 78%; /* #BBD2C6 */
    --accent: 157 13% 53%; /* #7EA299 */
    --accent-foreground: 33 24% 89%; /* #EBE2D9 */
    --destructive: 196 37% 55%; /* #5AACBD */
    --destructive-foreground: 33 24% 89%; /* #EBE2D9 */
    --border: 157 13% 53%; /* #7EA299 */
    --input: 157 13% 53%; /* #7EA299 */
    --ring: 156 24% 78%; /* #BBD2C6 */
    --sidebar-background: 157 19% 23%; /* #2F453A */
    --sidebar-foreground: 33 24% 89%; /* #EBE2D9 */
    --sidebar-primary: 196 37% 55%; /* #5AACBD */
    --sidebar-primary-foreground: 33 24% 89%; /* #EBE2D9 */
    --sidebar-accent: 157 13% 53%; /* #7EA299 */
    --sidebar-accent-foreground: 33 24% 89%; /* #EBE2D9 */
    --sidebar-border: 157 13% 53%; /* #7EA299 */
    --sidebar-ring: 196 37% 55%; /* #5AACBD */
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}