@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 30% 89%; /* #EBE2D9 */
    --foreground: 147 20% 23%; /* #2F453A */
    --card: 30 30% 89%; /* #EBE2D9 */
    --card-foreground: 147 20% 23%; /* #2F453A */
    --popover: 30 30% 89%; /* #EBE2D9 */
    --popover-foreground: 147 20% 23%; /* #2F453A */
    --primary: 147 20% 23%; /* #2F453A */
    --primary-foreground: 30 30% 89%; /* #EBE2D9 */
    --secondary: 147 23% 78%; /* #BBD2C6 */
    --secondary-foreground: 147 20% 23%; /* #2F453A */
    --muted: 147 23% 78%; /* #BBD2C6 */
    --muted-foreground: 167 15% 57%; /* #7EA299 */
    --accent: 147 23% 78%; /* #BBD2C6 */
    --accent-foreground: 147 20% 23%; /* #2F453A */
    --destructive: 192 38% 55%; /* #5AACBD */
    --destructive-foreground: 30 30% 89%; /* #EBE2D9 */
    --border: 147 23% 78%; /* #BBD2C6 */
    --input: 147 23% 78%; /* #BBD2C6 */
    --ring: 147 20% 23%; /* #2F453A */
    --radius: 0.5rem;
    --sidebar-background: 30 30% 89%; /* #EBE2D9 */
    --sidebar-foreground: 147 20% 23%; /* #2F453A */
    --sidebar-primary: 147 20% 23%; /* #2F453A */
    --sidebar-primary-foreground: 30 30% 89%; /* #EBE2D9 */
    --sidebar-accent: 147 23% 78%; /* #BBD2C6 */
    --sidebar-accent-foreground: 147 20% 23%; /* #2F453A */
    --sidebar-border: 147 23% 78%; /* #BBD2C6 */
    --sidebar-ring: 192 38% 55%; /* #5AACBD */
  }

  .dark {
    --background: 147 20% 23%; /* #2F453A */
    --foreground: 30 30% 89%; /* #EBE2D9 */
    --card: 147 20% 23%; /* #2F453A */
    --card-foreground: 30 30% 89%; /* #EBE2D9 */
    --popover: 147 20% 23%; /* #2F453A */
    --popover-foreground: 30 30% 89%; /* #EBE2D9 */
    --primary: 30 30% 89%; /* #EBE2D9 */
    --primary-foreground: 147 20% 23%; /* #2F453A */
    --secondary: 167 15% 57%; /* #7EA299 */
    --secondary-foreground: 30 30% 89%; /* #EBE2D9 */
    --muted: 167 15% 57%; /* #7EA299 */
    --muted-foreground: 147 23% 78%; /* #BBD2C6 */
    --accent: 167 15% 57%; /* #7EA299 */
    --accent-foreground: 30 30% 89%; /* #EBE2D9 */
    --destructive: 192 38% 55%; /* #5AACBD */
    --destructive-foreground: 30 30% 89%; /* #EBE2D9 */
    --border: 167 15% 57%; /* #7EA299 */
    --input: 167 15% 57%; /* #7EA299 */
    --ring: 147 23% 78%; /* #BBD2C6 */
    --sidebar-background: 147 20% 23%; /* #2F453A */
    --sidebar-foreground: 30 30% 89%; /* #EBE2D9 */
    --sidebar-primary: 192 38% 55%; /* #5AACBD */
    --sidebar-primary-foreground: 30 30% 89%; /* #EBE2D9 */
    --sidebar-accent: 167 15% 57%; /* #7EA299 */
    --sidebar-accent-foreground: 30 30% 89%; /* #EBE2D9 */
    --sidebar-border: 167 15% 57%; /* #7EA299 */
    --sidebar-ring: 192 38% 55%; /* #5AACBD */
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}